body{
  background: url("../assets/graphics/night_sky.jpg") no-repeat;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutAnnouncementHeading{
  color: white;
  text-align: center;
}

.aboutAnnouncement{
  color: white;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
}

.aboutAnnouncement p{
  font-size: 3vw;
  line-height: 150%;
}

.video{
  text-align: center;
  overflow: hidden;
  margin-top: 2%;
  padding-bottom:30%;
  position:relative;
  height:0;
}

.video iframe{
  left:0;
  top:0;
  height:100%;
  width:55%;
  position:absolute;
  padding-right: 25%;
  padding-left: 25%;
}
