body{
  background: url("../assets/graphics/night_sky.jpg") no-repeat;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.video{
  text-align: center;
  overflow: hidden;
  margin-top: 2%;
  padding-bottom:30%;
  position:relative;
  height:0;
}

.video iframe{
  left:0;
  top:0;
  height:100%;
  width:50%;
  position:absolute;
  padding-right: 25%;
  padding-left: 25%;
}
