body{
  background: url("../assets/graphics/night_sky.jpg") no-repeat;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

.crewInfo{
  margin-left: 15%;
  margin-right: 20%;
}
.crewInfo p{
  font-size: 5vw;
}
