body{
  background: url("../assets/graphics/night_sky.jpg") no-repeat;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

.crewInfo{
  margin-left: 15%;
  margin-right: 20%;
}
.crewInfo h3{
  font-size: 5vw;
}

.crewInfo p{
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 4vw;
}

.crewInfo ul{
  text-align: left;
  font-size: 3vw;
}

.crewInfo li{
  line-height: 150%;
}
