@font-face { font-family: "Minimal"; src: url('../fonts/minimal.oft'); }


* {
  margin: 0;
  padding: 0;
}

body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: "Minimal";
}

header{
  width: auto;
  color: white;
  padding: 2%;
  overflow: hidden;
}

.logo{
  float:left;
  width:10%;
  padding-right: 2%;
}

.logo img{
  width: 100%;
}

header a{
  text-decoration: none;
  color: white;
}
header h1{
 font-size: 5vw;
}

.leftHeader{
  float: left;
  width: 50%;
  overflow: hidden;
}

.rightHeader{
  float: left;
  width: 50%;
  padding-top: 1.5vw;
  /* border: 1px solid white; */
}

.nav{
  padding-left: 10%;
  padding-right: 10%;
}

.nav ul{
  list-style-type: none;
  text-align: center;

}

.nav li{
  font-size: 2vw;
  margin-left: 20%;
  float: left;
  transition: transform 0.2s, opacity 0.2s;
  text-align: center;
  width: auto;
  opacity: 0.8;
  /* border: 1px solid white; */
}

.nav li:hover{
  transform: scale(1.2);
  opacity: 1;
}

.pageHeading{
  color: white;
  font-size: 4vw;
  text-align: center;
  padding-bottom: 5%;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  /* border: 1px solid white; */
}

.pageHeading h1{
  /* float: left; */
}

.pageIcon{
  width: 10%;
  overflow: hidden;
  float: right;
}

.pageIcon img{
  width: 100%;
}

footer{
  width: auto;
  /* border: 1px solid white; */
  overflow: hidden;
  padding-top: 5%;
  /* padding: 2%; */
}

.footerLogo{
  width: 10%;
  float: left;
  padding-left: 2%;
}

.footerLogo img{
  width: 100%;
  /* border: 1px solid red; */
}



.footerLinks{
  float: right;
  text-align: right;
  width: 80%;
  padding-right: 2%;
  /* border: 1px solid white; */
}

.footerLinks img{
  width: 5vw;
  padding-left: 2vw;
  opacity: 0.8;
  transition: transform 0.3s, opacity 0.3s;
}

.footerLinks img:hover{
  transform: scale(1.2);
  opacity: 1;
}

#emailIcon{
  padding-top: 2%;
  padding-bottom: 0.5%;
}
