body{
  background: url("../assets/graphics/background.jpg") no-repeat;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.rewardsGraphic{
  width: 100%;
}

.rewardsGraphic img{
  margin-top: 3%;
  border: 2px solid white;
  width: 100%;
}

.videoAnnouncement{
  color: white;
  text-align: center;
  font-size: 3vw;
  margin-top: 2%;
}

.videoAnnouncement a{
    color: white;
}

.video{
  text-align: center;
  overflow: hidden;
  margin-top: 2%;
  padding-bottom:30%;
  position:relative;
  height:0;
}

.video iframe{
  left:0;
  top:0;
  height:100%;
  width:55%;
  position:absolute;
  padding-right: 22.5%;
  padding-left: 22.5%;
}

.announcement{
  overflow: hidden;
  text-align: center;
  color: white;
  padding-top: 2%;
  width: 50%;
  margin-left: 23%;
  margin-right: 23%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  background-color: rgba(0,0,0,0.5);

}

.announcement h2{
  font-size: 5vw;
}

.announcement p{
  font-size: 3vw;
}

.donatePara{
  padding-top: 2%;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

.indexDonateButtonBlock{
  width: 80%;
  overflow: hidden;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.indexDonateButton{
  float: left;
  text-align: center;
  font-size: 5vw;
  width: 40%;
  border: 1.5px solid white;
  transition: transform 0.3s;
  margin-top: 2%;
  margin-left: 4.5%;
  margin-right: 4.5%;
}

.indexDonateButton a{
  color: white;
  text-decoration: none;
}

.indexDonateButton:hover{
  transform: scale(1.1);
}


.concertButtonBlock{
  padding-top: 5%;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
  overflow: hidden;
  /* border-bottom: 1px solid white; */
}

.concertButton{
  width: 40%;
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 2%;
  float: left;
}

.concertButton h2{
  color: white;
  text-align: center;
  font-size: 4vw;
}

.concertButton img{
  padding-top: 3%;
  width: 100%;
  transition: transform 0.2s;
}

.concertButton img:hover{
  transform: scale(1.1);
}
