body{
  background: url("../assets/graphics/night_sky.jpg") no-repeat;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.performerGallery{
  margin-top: 2%;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  overflow: hidden;
}

.performerBlock{
  overflow: hidden;
  width: 31.33%;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  padding-bottom: 7%;
  position: relative;

}

.performerBlock img{
  width: 100%;
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.performerCaption {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.performerBlock:hover img{
  opacity: 0.3;
}

.performerBlock:hover .performerCaption{
  opacity: 1;
}

.performerCaption p{
  color: white;
  font-size: 4vw;
  text-shadow: 2px 2px #ff0000;

  /* padding: 2% 2%; */
}
